:root {
    --30color: #FD7028;
    --60color: white;
    --10color: #0D0221;

    --title: 'Poppins', sans-serif;
    --text: 'Inter', sans-serif;
    --title-weight: 800;
    --text-weight: 500;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Poppins:wght@800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}



/* Mobile View */

.hero {
    grid-area: hero;
    height: 100vh;
    display: grid;
}

/* Orange SVG */

.TitleBackgroundMobile {
    position: absolute;
    z-index: -1;
    top: 35px;
    height: 34%;
    width: 100%;
}

/* Main Title */

h1 {
    font-family: var(--title);
    font-weight: var(--title-weight);
    font-size: 50px;
    line-height: 60px;
    padding-top: 35px;
}


/* Word's white backgrounds */

.hero span:first-of-type {
    background-image: url(./media/rectangle.svg);
    background-size: 150px 100px;
    background-position: 10% center;
    margin-left: 5px;
}

.hero span:nth-child(2){
    color: white;
}

.hero span:last-of-type {
    background-image: url(./media/rectangle.svg);
    background-size: 150px 100px;
    background-position: 10% center;
    margin-left: 5px;
}

/* Paragraph */

.hero p {
    font-family: var(--text);
    font-weight: light;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    margin-top: -70px;
}


/* Hero Person */

.maraMobile {
    display: block;
    margin: 0 auto;
    height: 75%;
}

/* Buttons */

button {
    height: 40px;
    width: 180px;

    display: block;
    margin: 0 auto;
    cursor: pointer;
    font: bold;
    font-size: 20px;
}

button:first-of-type {
    background-color: #0D0221;
    color: white;
    border: none;
    border-radius: 5px;
    margin-bottom: -10px;
}
button:last-of-type {
    background-color: transparent;
    border: none;
}

