:root {
    --30color: #FD7028;
    --60color: white;
    --10color: #0D0221;

    --title: 'Poppins', sans-serif;
    --text: 'Inter', sans-serif;
    --title-weight: 800;
    --text-weight: 500;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Poppins:wght@800&display=swap');

* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: column;
    height: 100vh;

    
}

.triangleMobile {
    z-index: -1;
    position: absolute;

    bottom: 100px;
}


h1 {
    margin-top: 0px;
    position: absolute;

    font-family: var(--title);
    font-weight: var(--title-weight);
    font-size: 15vw;
    line-height: 15vw;
    padding-top: 50px;
 
}


/* Word's white backgrounds */

header span:first-of-type, span:last-of-type {
    background-image: url(../media/rectangle.svg);
    background-size: 50vw 100vw;
    background-position: 10% center;
    margin-left: 5px;
}


/* White text H1 */
header span:nth-child(2){
    color: white;
}

.maraMobile {
    position: relative;
    top: -20px;

    width: 70%;
    margin: 0 auto;
}

.trianglemobile {
    margin-top: 45px;
    width: 100%;
}


header p {
    font-family: var(--text);
    font-weight: light;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    margin-top: -10px;
}


/* Buttons */

button {
    height: 40px;
    width: 180px;

    display: block;
    margin: 0 auto;
    cursor: pointer;
    font: bold;
    font-size: 20px;
}

button:first-of-type {
    background-color: #0D0221;
    color: white;
    border: none;
    border-radius: 5px;
    margin-bottom: -10px;
}
button:last-of-type {
    background-color: transparent;
    border: none;
}
