:root {
    --30color: #FD7028;
    --60color: white;
    --10color: #0D0221;

    --title: 'Poppins', sans-serif;
    --text: 'Inter', sans-serif;
    --title-weight: 800;
    --text-weight: 500;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Poppins:wght@800&display=swap');

* {
    margin: 0;
    padding: 0;
}

@media (max-width:768px) {
    header {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    
    .triangleMobile {
        z-index: -1;
        position: absolute;
    
        bottom: 100px;
    }
    
    .shapeDesktop {
        display: none;
    }
    
    .desktopTitle {
        display: none;
    }  
    
    .maraDesktop {
        display: none;
    }

    .subtitleMobile {
       display: none;
    }

    h1 {
        margin-top: 0px;
        position: absolute;
    
        font-family: var(--title);
        font-weight: var(--title-weight);
        font-size: 15vw;
        line-height: 15vw;
        padding-top: 70px;
     
    }
    
    
    /* Word's white backgrounds */
    
    header span:first-of-type, span:last-of-type {
        background-image: url(../media/rectangle.svg);
        background-size: 50vw 100vw;
        background-position: 10% center;
        margin-left: 5px;
    }
    
    
    /* White text H1 */
    header span:nth-child(2){
        color: white;
    }
    
    .maraMobile {
        position: relative;
        top: -20px;
    
        width: 70%;
        margin: 0 auto;
    }
    
    .trianglemobile {
        margin-top: 65px;
        width: 100%;
    }
    
    
    header p {
        font-family: var(--text);
        font-weight: light;
        font-size: 20px;
        line-height: 20px;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 40px;
    }
    
    
    /* Buttons */
    
    button {
        height: 40px;
        width: 180px;
    
        display: block;
        margin: 0 auto;
        cursor: pointer;
        font: bold;
        font-size: 20px;
    }
    
    button:first-of-type {
        background-color: #0D0221;
        color: white;
        border: none;
        border-radius: 5px;
        margin-bottom: -10px;
    }
    button:last-of-type {
        background-color: transparent;
        border: none;
    }
    
    
    
    
}


/* Desktop Design */


@media (min-width: 768px) {
    
    
header {
    display: flex; 
    flex-direction: column;
    height: 50vh;
    background-color: var(--30color);
}

.trianglemobile {
    display: none;
}

.mobileTitle {
    display: none;
}

.shapeDesktop {
    width: 50vh;
    height: 50vh;

    
}

.maraDesktop {
    position: absolute;
    right: 0px;
    width: 50vh;
}

h1 {
    margin-top: 0px;
    position: absolute;

    font-family: var(--title);
    font-weight: var(--title-weight);
    font-size: 5vw;
    line-height: 6vw;
    top: 150px;
    left: 20px;

    
}


/* Word's white backgrounds */

header span:first-of-type, span:last-of-type {
    background-image: url(../media/orange-background.svg);
    background-size: 50vw 100vw;
    background-position: 10% center;
    margin-left: 5px;
    color: white;
}


/* Black text H1 */
header span:nth-child(2){
    color: rgb(0, 0, 0);
}

.maraMobile {
    display: none;
}

header p {
    font-family: var(--text);
    font-weight: light;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 40px;
}


/* Buttons */

button {
    height: 40px;
    width: 180px;

    display: block;
    margin: 0 auto;
    cursor: pointer;
    font: bold;
    font-size: 20px;
}

button:first-of-type {
    background-color: #0D0221;
    color: white;
    border: none;
    border-radius: 5px;
    margin-bottom: -10px;
}
button:last-of-type {
    background-color: transparent;
    border: none;
}
}









/* XG Desktop Design */

@media (min-width: 992px) {
    
    
    header {
        display: flex; 
        flex-direction: column;
        height: 70vh;
        background-color: var(--30color);
    }
    
    .trianglemobile {
        display: none;
    }
    
    .mobileTitle {
        display: none;
    }
    
    .shapeDesktop {
        width: 70vh;
        height: 70vh;
        
        position: absolute;
    }
    
    .maraDesktop {
        position: absolute;
        right: 0px;
        width: 70vh;
    }
    
    h1 {
        margin-top: 0px;
        position: absolute;
    
        font-family: var(--title);
        font-weight: var(--title-weight);
        font-size: 5vw;
        line-height: 6vw;
        top: 200px;
        left: 80px;
    }
    
    
    /* Word's white backgrounds */
    
    header span:first-of-type, span:last-of-type {
        background-image: url(../media/orange-background.svg);
        background-size: 50vw 100vw;
        background-position: 10% center;
        margin-left: 5px;
        color: white;
    }
    
    
    /* Black text H1 */
    header span:nth-child(2){
        color: rgb(0, 0, 0);
    }
    
    .maraMobile {
        display: none;
    }
    
    header p {
        font-family: var(--text);
        font-weight: light;
        font-size: 20px;
        line-height: 20px;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 40px;

        z-index: 1;
    }
    
    
    /* Buttons */
    
    button {
        height: 40px;
        width: 180px;
    
        display: block;
        margin: 0 auto;
        cursor: pointer;
        font: bold;
        font-size: 20px;
    }
    
    button:first-of-type {
        background-color: #0D0221;
        color: white;
        border: none;
        border-radius: 5px;
        margin-bottom: -10px;
    }
    button:last-of-type {
        background-color: transparent;
        border: none;
    }
    }




/* XXL DESKTOP Design */



@media (min-width: 1400px) {
    
    
    header {
        display: flex; 
        flex-direction: column;
        height: 100vh;
        background-color: var(--30color);
    }
    
    .trianglemobile {
        display: none;
    }
    
    .mobileTitle {
        display: none;
    }
    
    .shapeDesktop {
        width: 100vh;
        height: 100vh;
        
        position: absolute;
    }
    
    .maraDesktop {
        position: absolute;
        right: 0px;
        width: 100vh;
    }
    
    h1 {
        margin-top: 0px;
        position: absolute;
    
        font-family: var(--title);
        font-weight: var(--title-weight);
        font-size: 5vw;
        line-height: 6vw;
        top: 200px;
        left: 80px;
    }
    
    
    /* Word's white backgrounds */
    
    header span:first-of-type, span:last-of-type {
        background-image: url(../media/orange-background.svg);
        background-size: 50vw 100vw;
        background-position: 10% center;
        margin-left: 5px;
        color: white;
    }
    
    
    /* Black text H1 */
    header span:nth-child(2){
        color: rgb(0, 0, 0);
    }
    
    .maraMobile {
        display: none;
    }
    
    header p {
        font-family: var(--text);
        font-weight: light;
        font-size: 20px;
        line-height: 20px;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 40px;

        z-index: 1;
    }
    
    
    /* Buttons */
    
    button {
        height: 40px;
        width: 180px;
    
        display: block;
        margin: 0 auto;
        cursor: pointer;
        font: bold;
        font-size: 20px;
    }
    
    button:first-of-type {
        background-color: #0D0221;
        color: white;
        border: none;
        border-radius: 5px;
        margin-bottom: -10px;
    }
    button:last-of-type {
        background-color: transparent;
        border: none;
    }
    }